body{
    background-color: white;
}

input {
    font-size: 22px;
}

    .conteneur1{
        background-color: #ececfa;
        display:block;
        height:500px;
        width:500px;
        border-radius:50px;
        font-size:40px;
        position: absolute;
        cursor: pointer;
        left:120px;
        top:90px;
        box-shadow: 0 30px 38px 0 rgba(0, 0, 0, 0.1), 0 46px 60px 0 rgba(0, 0, 0, 0.5);
         }
    .h1{
        position:relative; margin-left:14%; margin-top:4%;
        font-family:"TeX Gyres Heros";
        font-size:50px;
        color: #19e5e5;
        opacity:1;
        display:block;
        }
     .h2{
        position:relative; margin-left:20%; margin-top:2%;
        font-family:"TeX Gyres Heros";
        font-size:17px;
        color:black;
        opacity:0.5;
        display:block;
        }
    .mail{
       position:relative; margin-left:20%; margin-top:0%;
       width:60%;
       height:35px;
       background-color:grey;
       border-radius:5px;
       color:black;
       border:none;
       opacity:0.3;
       transition-duration:0.3s;
       display:block;
       }
    .mail:hover{
               opacity:0.5;
               transition-duration:0.3s;
               }
    .pass{
       position:relative; margin-left:20%; margin-top:0%;
       width:60%;
       height:35px;
       background-color:grey;
       border-radius:5px;
       color:black;
       border:none;
       opacity:0.3;
       transition-duration:0.3s;
       display:block;
       }
    .pass:hover{
               opacity:0.5;
               transition-duration:0.3s;
               }
    
    .login{
        position:relative; margin-left:28%; margin-top:4%;
        color:white;
        background-color:#19e5e5;
        font-family:"TeX Gyres Heros";
        font-size:20px;
        border:none;
        width:44%;
        height:40px;
        opacity:0.9;
        border-radius:5px;
        display:block;
        transition-duration:0.3s;
        }

    
    .login:hover{
        /* position:relative; margin-left:28.1%; margin-top:7.1%; */
        width:210px;
        height:50px;
        transition-duration:0.3s;
        }
    
    .lien1{
        position:fixed;
        left:170px;
        top:520px;
        font-family:sans-serif;
        font-size:18px;
        color: rgb(185, 196, 31);
        opacity:1;
        display: inline;
        margin-left : 4.6%;
        }
    #Erreur_connection{
        position: fixed;
        
        top:100px;
    }           
    .h4{
        position:fixed; left:170px; 
        top:500px;
        font-family:sans-serif;
        font-size:15px;
        color:black;
        opacity:0.7;
        }
    .lien2{
        position:fixed;
        left:170px;
        top:560px;
        font-family:sans-serif;
        font-size:18px;
        color:#ff0066;
        opacity:1;
        display: inline;
    }
    .conteneur2{
        background-color: #ececfa;
        overflow:hidden;
        display:block;
        height:500px;
        width:500px;
        border-radius:50px;
        font-size: 40px;
        opacity:1;
        position:fixed; left:650px; 
        top:90px;
        box-shadow: 0 30px 38px 0 rgba(0, 0, 0, 0.1), 0 46px 60px 0 rgba(0, 0, 0, 0.5);
        }

    .pass:hover{
        opacity:0.5;
        transition-duration:0.3s;
        }

    #oublie {
        margin-left:4.6%;
    }
table {
    margin-left: 20px;
    margin-right: 20px;
}

     