* {
    margin:0;
    padding:0;   
}

section {
    display: flex;
    position: absolute;
    z-index: 4;
}

/* Section 1 */
.section1 {
    width:27vw;
    margin-right:2%;
    margin-left:5%;
}

/* ********* */

/* Section 2 */
.section2 {
    width:68vw;
    display: inline-block;
}

.txtsrch {
    margin-left:28%;
    margin-top: 5%;
    width:22vw;
    height: 5vh;
    border:1px ridge #d5d5e6;
}

.txtsrch[placeholder] {
    padding-left:1%;
}

.btnsrch {
    width: 5.6vw;
    height: 5vh;
    background-color: #19e5e5;
    border:0px;
}

.icon-appel{
    height:4.5vh;
    margin-left:6%;
}

.no-tel {
    font-size:1.4vw;
    font-family: fantasy;
}

nav {
    margin-top:4%;
    width: 100%;
    height: 2%;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu-item {
    margin-top: 5vh;
    padding: 3% 3% 3% 3%;
    text-decoration: none;
    background-color: black;
    font-family: 'Lobster Two'; 
    font-size:1.1vw;
    box-shadow: 10px 15px 40px black;
}

.menu-item:hover {
    background-color: #1d9550;
    box-shadow:none;
}




/* *********  */